{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Clients{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
        <section class="page-section about-heading">
            <h4 style="text-align: center" class="title">Apporter notre conseil et notre expertise en réponse à vos enjeux métiers en matière de :</h4>
            <div class="services">
                <div class="services-item">
                    <img src="assets/big-data2.png" height="100" width="auto" alt="" />
                  <h3 class="services-item-header">Big Data</h3>
                </div>

                <div class="services-item">
                    <img src="assets/business-intelligence.png" height="100" width="auto" alt="" />
                  <h3 class="services-item-header">Business Intelligence</h3>
                </div>

                <div class="services-item">
                    <img src="assets/web2.png" height="100" width="auto" alt="" />
                  <h3 class="services-item-header">Web</h3>
                </div>

                <div class="services-item">
                    <img src="assets/analysis.png" height="100" width="auto" alt="" />
                  <h3 class="services-item-header">Analytics</h3>
                </div>
                <div class="services-item">
                    <img src="assets/data-management.png" height="100" width="auto" alt="" />
                  <h3 class="services-item-header">Data management</h3>
                </div>
              </div>
        </section>
        <section>

     <h4 style="text-align: center" class="title">Mobiliser nos meilleurs talents :</h4>
     <div class="services">
 <!-- <ul>
    <li>Chef de Projets</li>
    <li>Experts</li>
    <li>Business Analysts</li>
    <li>Ingénieurs Etudes et Développement</li>
    </ul>-->
    <div class="main-wrapper">
        <div class="card">
            <div class="imgbox">
                <img src="assets/ingenieur.png" >
            </div>
            <div class="details">
                <h2>Chef de Projets</h2>

            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="assets/business-analyst.png">

            </div>
            <div class="details">
<h2>Business Analysts</h2>
            </div>

        </div>
        <div class="card">
            <div class="imgbox">
                <img src="assets/expert.png">

            </div>
            <div class="details">
                <h2>Experts</h2>

            </div>
        </div>


        <div class="card">
            <div class="imgbox">
                <img src="assets/programmeur.png">

            </div>
            <div class="details">
                <h2>Ingénieurs Etudes et Développement</h2>

            </div>
        </div>
    </div>
     </div>
        </section>
        <section class="page-section about-heading">
            <h4 style="text-align: center" class="title">Nos clients</h4>
            <div class="services">
                <div class="services-item">
                    <img src="assets/img/cli.png" height="100" width="auto" alt="" />
                </div>

                <div class="services-item">
                    <img src="assets/img/cli2.jfif" height="100" width="auto" alt="" />
                </div>

                <div class="services-item">
                    <img src="assets/img/cli3.png" height="100" width="auto" alt="" />
                </div>

                <div class="services-item">
                    <img src="assets/img/cli4.png" height="100" width="auto" alt="" />
                </div>

                <div class="services-item">
                    <img src="assets/img/cli5.jfif" height="100" width="auto" alt="" />
                </div>

                <div class="services-item">
                    <img src="assets/img/cli6.png" height="100" width="auto" alt="" />
                </div>
              </div>
        </section>
{% endblock %}
