{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Actualités{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
 <!--       <section class="page-section about-heading">
            <table width="100%" cellpadding="0" cellspacing="0"><tr>
                <td>&nbsp;</td>
                <td width="90%" style="background-color:#ffffff">
                  <BR>
                    <div class="carousel slide responsive" style="overflow:hidden;display:none;max-height:0px;width:500px;">

                      <input id="car-cbox-support" type="checkbox" checked style="display:none!important">
                      <input name="car-radio" type=radio id="car1-radio-1" class="car-radio car-radio1" style="display:none!important">
                      <input name="car-radio" type=radio id="car1-radio-2" class="car-radio car-radio2" style="display:none!important">
                      <input name="car-radio" type=radio id="car1-radio-3" class="car-radio car-radio3" style="display:none!important">


                      <div class="car-cont" style="position:relative;background-color:#ffffff;">
                        <div class="car-frames">
                          <a href="https://www.google.com/search?q=castles"><img class="zoom-in" src="http://freshinbox.com/examples/animated-carousel/images/car-castle.jpg" border="0"></a>
                          <a href="https://www.google.com/search?q=meadows"><img class="zoom-out" src="http://freshinbox.com/examples/animated-carousel/images/car-meadow.jpg" border="0"></a>
                          <a href="https://www.google.com/search?q=coast"><img class="pan-right" src="http://freshinbox.com/examples/animated-carousel/images/car-coast.jpg" border="0"></a>
                        </div>
                        <div class="car-controls">
                          <label for="car1-radio-3" class="car-ltn car-nav-1"></label>
                          <label for="car1-radio-2" class="car-rtn car-nav-1"></label>
                          <label for="car1-radio-1" class="car-ltn car-nav-2"></label>
                          <label for="car1-radio-3" class="car-rtn car-nav-2"></label>
                          <label for="car1-radio-2" class="car-ltn car-nav-3"></label>
                          <label for="car1-radio-1" class="car-rtn car-nav-3"></label>
                        </div>
                      </div>


                      <div class="car-thumbnails" style="display:none;">
                        <label for="car1-radio-1" class="car-thumb"><img src="http://freshinbox.com/examples/animated-carousel/images/car-castle.jpg"></label>
                        <label for="car1-radio-2" class="car-thumb"><img src="http://freshinbox.com/examples/animated-carousel/images/car-meadow.jpg"></label>
                        <label for="car1-radio-3" class="car-thumb"><img src="http://freshinbox.com/examples/animated-carousel/images/car-coast.jpg"></label>
                      </div>

                    </div>
                    <BR><BR>

                      <div class="fallback">
                        <a href="https://www.google.com/search?q=fallback" ><img src="http://freshinbox.com/examples/animated-carousel/images/carousel-fallback.jpg" height="320" width="500" style="display:block;" border="0"></a>
                      </div>

                      </td><td>&nbsp;</td>
                      </tr></table>

        </section>-->
<!-- historique-->
<div class="section1">
    <div class="title_header">
    <h1 style="text-align: center" class="title">Actualités</h1>
    </div>
    <table>
    <tr>
    <td><img style="width: 66%!important" src="assets/img/altansia.png"></td>
    <td>
    <section>
    <i class="fa fa-heart-o"></i>
    <h1 class="title">Altansia</h1>
    <p>ALTANSIA S.A.S. est un cabinet de conseil en innovation spécialisé sur les technologies de convergence Web, Business Intelligence et Big Data. Elle intervient également sur vos problématiques liées à la Cyber-sécurité.</p>
    </section>
    </td>
    <td><img src="assets/img/histoire.png" alt=""></td>
    <td>
    <section>
    <i class="fa fa-heart-o"></i>
    <h1 class="title">Classement altansia</h1>
    <p>Classement des entreprises qui recrutent le plus de profils en data</p>
    </section>
    </td>
    </tr>
    <tr>
    <td>
    <section>
    <i class="fa fa-heart-o"></i>
    <h1 class="title">cynet</h1>
    <p>Altansia est fière de compter la société Cynet parmi ses partenaires sur son offre Cyber3A. www.cynet.com</p>
    </section>
    </td>
    <td><img src="assets/img/CYNET1.jpg" alt=""></td>
    <td>
 <!--   <section>
    <i class="fa fa-heart-o"></i>
    <h1 class="title">Small Things</h1>
    <p>I can't do all the good that the world needs. But the world needs all the good that i can do. Be strong enough to stand alone, smart enough to know when you need help & brave enough to ask for it.</p>
    </section>
    </td>
    <td><img src="https://i.ibb.co/V3Q75JW/section1.jpg" alt=""></td>-->
    </tr>
    </table>
    </div>

    <section class="page-section about-heading">
        <h4 style="text-align: center" class="title">Nos valeurs</h4>
        <div class="services" style="margin: 50px 0%!important">
            <div class="services-item" style="margin: 22px 0px 0px 55px!important">
                <img src="assets/like.png" height="100" width="auto" alt="" />
              <h3 class="services-item-header">savoir-faire</h3>
            </div>

            <div class="services-item" style="margin: 22px 0px 0px 55px!important">
                <img src="assets/experience.png" height="100" width="auto" alt="" />
              <h3 class="services-item-header">Expérience</h3>
            </div>

            <div class="services-item" style="margin: 22px 0px 0px 55px!important">
                <img src="assets/growth.png" height="100" width="auto" alt="" />
              <h3 class="services-item-header">Ambition</h3>
            </div>

            <div class="services-item" style="margin: 22px 0px 0px 55px!important">
                <img src="assets/trust.png" height="100" width="auto" alt="" />
              <h3 class="services-item-header">Succès</h3>
            </div>

          </div>
    </section>
        <!--partenaire-->
        <section class="page-section cta">
            <h1 style="text-align: center" class="title">Nos partenaires</h1>
            <div class="container">
                <div class="row">
                    <div class="partenaire">
                        <div class="slide-track">
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
                            </div>
                            <div class="S-partenaire">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
