{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Offres{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
        <section class="page-section cta" style="padding-top: 1rem!important;margin-top:1rem;!important">
          <row>

                <div class="d-flexy">
                        <img src="assets/equipe.png" style="width: 22%;" alt="" />

                    <h3 class="services-item-header" style="font: 700 27px Montserrat, sans-serif!important;margin: 15% 0 10px!important;">Nous rejoindre</h3>
                </div>
            </row>
        </section>
    <section class="page-section cta" style="padding-top: 1rem!important;margin-top:1rem;!important">
            <div class="container">

                            <ul class="list-unstyled list-hours mb-5 text-left">
                                <li class="list-unstyled-item list-hours-item d-flexi">
                                    <b> Consultant(e) décisionnel</b>
                                   <p class="more">
                Sous la responsabilité du Chef de Projet, tu es amené(e) à appréhender le métier de consultant en Business Intelligence autour de la mise en place d’un système d’aide à la décision mis à disposition de la direction d’une entreprise.
                Au sein d’un centre de service pour un de nos clients de la distribution, tu as pour mission de :
                <br>• Collaborer sur les sujets de BI et Big data afin de répondre aux problématiques de gestion de l’approvisionnement, des offres produit et de la fidélité client.
                En contribution de l’équipe CGI, tu découvres :
                <br>• Le Big Data au travers du développement de l’Enterprise Data Hub basé sur les technologies Talend Big Data, Hive, Impala et Spark
                <br>• La BI au travers de la maintenance du Système d’Information Décisionnel basée sur les technologies Oracle Exadata, Informatica et MicroStrategy
                Qualités requises pour réussir dans ce rôle :
                <br>• Tu es en dernière année de cycle d’ingénieur ou de Licence
                <br>• Tu maitrises le langage SQL
                <br>• Tu possèdes une connaissance des principes de l’informatique décisionnelle.
                <br>• Tu apportes tes idées pour résoudre les projets, tu es autonome, rigoureux et adaptable, à l’écoute, et possèdes un esprit critique.
                <br>• La connaissance d’une technologie d’intégration de données est un plus
                <br>• La maîtrise de la programmation orientée objet est un plus (.Net ou JEE)
                </p>
                                      <a href="mailto:yasmineharti06@gmail.com?cc=new_life05@hotmail.fr&subject=offre Scrum master&body=Details de la mission">
                                        <button type="button" class="btn btn-primary btnx" >Postuler</button>
                                    </a>

                               </li>
                                <li class="list-unstyled-item list-hours-item d-flexi">
                                     <b>Scrum master</b>
                                    <span class="more">
                La prestation se déroulera dans le cadre du projet Programme XXX.
                Le projet est ambitieux et une deuxième squad agile va être crée pour assurer un nouveau chantier sur la souscription des contrats d'assurance.
                Dans ce cadre, la prestation consiste à contribuer à/aux
                <br>•Contributions au fonctionnement en mode Agile de l'entité projet en assistance avec le Centre Agile
                <br>•Suivi/gestion des cérémonies (daily, poker planning, sprint planning, grooming, rétro, ...)
                <br>•Gestion/suivi du backlog
                <br>•Assistance du Product Owner dans la gestion du produit / service et la priorisation du backlog
                <br>•Gestion de la visibilité sur l'avancée des travaux au travers des indicateurs Agile
                <br>En partenariat avec le PO, définir les priorités du métier afin d'établir la Roadmap qui sera ensuite traduite en release applicative
                La liste des livrables attendus sont
                Estimation des User stories en story points
                Priorisation des Users stories du backlog
                Sprint retrospectives documentées (DO/DON'T)
                KPIs ((burn rate, velocité, ...)
                Définition au préalable du périmètre défini pour chaque sprint Suivi projet
                Support aux comités, suivi du planning, suivi du budget, documentation, suivi de l'entité, respect qualité,
                                    </span>
                                    <a href="mailto:yasmineharti06@gmail.com?cc=new_life05@hotmail.fr&subject=offre Scrum master&body=Details de la mission">
                                        <button type="button" class="btn btn-primary btnx">Postuler</button>
                                    </a>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flexi">
                                     <b>Scrum master</b>
                                    <span class="more">
                La prestation se déroulera dans le cadre du projet Programme XXX.
                Le projet est ambitieux et une deuxième squad agile va être crée pour assurer un nouveau chantier sur la souscription des contrats d'assurance.
                Dans ce cadre, la prestation consiste à contribuer à/aux
                <br>•Contributions au fonctionnement en mode Agile de l'entité projet en assistance avec le Centre Agile
                <br>•Suivi/gestion des cérémonies (daily, poker planning, sprint planning, grooming, rétro, ...)
                <br>•Gestion/suivi du backlog
                <br>•Assistance du Product Owner dans la gestion du produit / service et la priorisation du backlog
                <br>•Gestion de la visibilité sur l'avancée des travaux au travers des indicateurs Agile
                <br>En partenariat avec le PO, définir les priorités du métier afin d'établir la Roadmap qui sera ensuite traduite en release applicative
                La liste des livrables attendus sont
                Estimation des User stories en story points
                Priorisation des Users stories du backlog
                Sprint retrospectives documentées (DO/DON'T)
                KPIs ((burn rate, velocité, ...)
                Définition au préalable du périmètre défini pour chaque sprint Suivi projet
                Support aux comités, suivi du planning, suivi du budget, documentation, suivi de l'entité, respect qualité,
                                    </span>
                                    <a href="mailto:yasmineharti06@gmail.com?cc=new_life05@hotmail.fr&subject=offre Scrum master&body=Details de la mission">
                                        <button type="button" class="btn btn-primary btnx">Postuler</button>
                                    </a>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flexi">
                                    <b>Consultant(e) décisionnel</b>
                                    <span class="more">
                Sous la responsabilité du Chef de Projet, tu es amené(e) à appréhender le métier de consultant en Business Intelligence autour de la mise en place d’un système d’aide à la décision mis à disposition de la direction d’une entreprise.
                Au sein d’un centre de service pour un de nos clients de la distribution, tu as pour mission de :
                <br>• Collaborer sur les sujets de BI et Big data afin de répondre aux problématiques de gestion de l’approvisionnement, des offres produit et de la fidélité client.
                En contribution de l’équipe CGI, tu découvres :
                <br>• Le Big Data au travers du développement de l’Enterprise Data Hub basé sur les technologies Talend Big Data, Hive, Impala et Spark
                <br>• La BI au travers de la maintenance du Système d’Information Décisionnel basée sur les technologies Oracle Exadata, Informatica et MicroStrategy
                Qualités requises pour réussir dans ce rôle :
                <br>• Tu es en dernière année de cycle d’ingénieur ou de Licence
                <br>• Tu maitrises le langage SQL
                <br>• Tu possèdes une connaissance des principes de l’informatique décisionnelle.
                <br>• Tu apportes tes idées pour résoudre les projets, tu es autonome, rigoureux et adaptable, à l’écoute, et possèdes un esprit critique.
                <br>• La connaissance d’une technologie d’intégration de données est un plus
                <br>• La maîtrise de la programmation orientée objet est un plus (.Net ou JEE)
                </span>
                                    <a href="mailto:yasmineharti06@gmail.com?cc=new_life05@hotmail.fr&subject=offre Scrum master&body=Details de la mission">
                                        <button type="button" class="btn btn-primary btnx">Postuler</button>
                                    </a>
                                </li>
                            </ul>
            </div>

                <row class="d-flexo">
                    <img src="assets/img/altansia.png" style="width: 7%; margin-left: 46%;" alt="" />

                    <div class="services-item" >

                        <b> Candidature spontanée </b>

                    </div>

                    <div class="services-item">

                        <a href="mailto:yasmineharti06@gmail.com?cc=new_life05@hotmail.fr&subject=condidature spontanée&body=Details de la mission">
                            <button type="button" class="btn btn-primary btnx">Postuler</button>
                        </a>
                    </div>
            </row>

        </section>
    <!--partenaire-->
    <section class="page-section cta">
        <h1 style="text-align: center" class="title">Nos partenaires</h1>
        <div class="container">
            <div class="row">
                <div class="partenaire">
                    <div class="slide-track">
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
                        </div>
                        <div class="S-partenaire">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

